@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;700&display=swap');

html{
    // max-width: 100vw;
    // max-height: 100vh;
    overflow: hidden;
    font-size: 10px;
}
body{
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

