.rooms-item{
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rooms-item__id{
    margin: 0px 0px 5px 0px;
    color: black;
}

.rooms-item__body{
    display: flex;
    gap: 10px;
}

.rooms-item__list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.rooms-item__column-title{
    margin: 0;
    font-weight: bold;
}

.rooms-item__column-text{
    margin: 0;
}

.rooms-item__column {

}
.rooms-item__list-item{
    padding-left: 5px;

    &_selected{
        padding-left: 5px;
        color: crimson;
    }
}