.game-menu__section {
    pointer-events: none !important;
    z-index: 1000;
    position: fixed;

    &>*{
        pointer-events: all;
    }
}

.game-menu__btn{
    padding: 10px 20px !important;

    &_open{
        padding: 10px !important;
        position: fixed;
        right: 10px;
        top: 10px;
    }
}

.game-menu__container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.game-menu__overlay{
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}