.inventory{
    position: fixed;
    z-index: 100;
    display: none;
}
.inventory__overlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.inventory__container{
    background-color: $interface-bg-color;
    max-width: 230px;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    gap: 10px;
}

.inventory__item {
    width: 25px;
    height: 25px;
    background-size: cover;
    cursor: pointer;
    &-bazooka{
        background-image: url('../../../../../assets/interface/bazooka.png');
    }
    &-grenade{
        background-image: url('../../../../../assets/interface/grenade.png');
    }
    &-dynamite{
        background-image: url('../../../../../assets/interface/dynamite.png');
    }
    &-mine{
        background-image: url('../../../../../assets/interface/mine.png');
    }
    &-holygrenade{
        background-image: url('../../../../../assets/interface/holygrenade.png');
    }
    &-banana{
        background-image: url('../../../../../assets/interface/banana.png');
    }
}